.play-container{
position: relative;
min-height: 540px;
margin-top: 5rem;

}
.play-img{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
z-index: -1;

}
.play-text{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding: 40px;
background: linear-gradient(
    8deg,hsl(240 17% 14%/74%)14%,
    hsl(240 17% 14%/14%)44%,);

}
.play-text h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 1.1rem;
    color: #ffb43a;
    margin-top: 4px;

}
.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}
.tags span{
    background:#2d2e37 ;
    padding: 0 4px;
}
.play-movie{
    position: absolute;
    bottom: 18rem;
    right: 10rem;
    display: flex!important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffb43a;
    font-size: 24px;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgb(255,180,58,0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgb(255,193,7,0);
    }
    80%{
        box-shadow: 0 0 0 50px rgb(255,193,7,0);
    }
    100%{
        box-shadow: 0 0 0  rgb(255,190,7,0);
    }
}

/* video container */
.video-a-container{
    position: absolute;
    top: 13px;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 0;
    
    
}
.video-a-container > .show-video{
    display: flex;
}
.video-box{
    position: relative;
    width: 82%;
    
}
.video-box #myvideo{
    width: 100%;
    aspect-ratio: 16/9;
  

    
}
.close-video{
    position: absolute;
    top: 1%;
    right: 0;
 
    font-size: 44px!important;
    color: #ffb43a;
 
 
}


/* About Movie */

.about-movie{
    margin-top: 2rem;
}
.about-movie h2{
font-size: 1.4rem;
font-weight: 600;
color: #ffb43a ;
}
.about-movie p{
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0;
}

.show-video{
    display: flex;
}

@media (max-width: 1258px){
    .about-movie{
     margin-bottom: 90px;
     padding-bottom: 10px;
   
    }
    .play-movie{
        bottom: 4rem;
        right: 2rem;
    }
   

   
}


